<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link href="{%static 'tinymce/css/prism.css'%}" rel="stylesheet">
	<script src="{%static 'tinymce/js/prism.js'%}"></script>
	<!-- Compiled and minified CSS -->
     <link href="{%static 'main/css/materialize.css' %}" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<title>Home</title>
</head>
<body>


{% include "main/includes/navbar.html"%}
<!-- <script>M.toast({html:'sdsad'})</script> -->
{% include "main/includes/messages.html"%}

        



{% block content%}
{% endblock %}	

</body>

</html>